#logo > img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
#description {
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	color: #ffdf00;
	margin-bottom: 4em;
}
#photogrid img {
	max-width: 100%;
	height: auto;
	margin: 15px auto;
}