a, a:hover {
  color: #ffdf00;
}

p {
  margin-bottom: 1em;
}

#mainheader {
  position: relative;
  z-index: 0;
}

#logo > div {
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

#logo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#socialbuttons {
  position: absolute;
  top: 20px;
  right: 15px;
}

.fb-like > span {
  vertical-align: baseline !important;
}

#description {
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: #ffdf00;
  margin-bottom: 4em;
  position: relative;
  z-index: 1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}

#photogrid {
  list-style: none;
  margin: 0 15px;
  padding: 0;
}

/* mobile first */
#photogrid li {
  width: 100%;
  padding: 10px;
}

/* tablets */
@media (min-width: 768px) {
  #photogrid li {
    width: 25%;
  }

  #photogrid li.double {
    width: 50%;
  }

  #photogrid li.selected {
    width: 75%;
  }
}

/* desktop */
@media (min-width: 992px) {
  #photogrid li {
    width: 16.66667%;
  }

  #photogrid li.double {
    width: 33.33333%;
  }

  #photogrid li.selected {
    width: 50%;
  }
}

#photogrid a {
  display: block;
}

#photogrid img {
  max-width: 100%;
}

#disqus_thread {
  max-width: 50%;
  margin: 150px auto 50px;
}
