/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 20px;
}

#videodivs, #snapshotdiv, #resultdiv {
  width: 640px;
}

#loaderImage {
  position: relative;
  top: -307px;
}