/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color: #000;
}

#photobooth {
  width: 640px;
  height: 480px;
}

#photobooth ul {
	display: none;
}